@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

body {
  @apply bg-dark text-gray-100;
}

/* Profile Card Hover Effects */
.profile-card {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 380px auto;
  transition: all 0.8s ease;
}

.profile-card:hover {
  background-position: left center;
  background-size: 520px auto;
}


@property --white-shadow {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

.glow-card {
  --card-color: hsl(260deg 100% 3%);
  --text-color: hsl(260deg 10% 55%);
  --card-radius: 16px;
  --border-width: 3px;
  --bg-size: 1;
  --hue: 0;
  --hue-speed: 1;
  --rotate: 0;
  --animation-speed: 4s;
  --interaction-speed: 0.55s;
  --glow-scale: 1.5;
  --scale-factor: 1;
  --glow-blur: 6;
  --glow-opacity: 1;
  --glow-radius: 100;
  --glow-rotate-unit: 1deg;

  color: white;
  display: flex;
  position: relative;
  z-index: 2;
  border-radius: var(--card-radius);
  cursor: pointer;
}

.glow-card:before,
.glow-card:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: var(--card-radius);
}

.glow-card:hover > .glow-content {
  mix-blend-mode: darken;
  --text-color: white;
  box-shadow: 0 0 calc(var(--white-shadow) * 1vw) calc(var(--white-shadow) * 0.15vw) rgb(255 255 255 / 20%);
  animation: shadow-pulse calc(var(--animation-speed) * 2) linear infinite;
}

.glow-card:hover > .glow-content:before {
  --bg-size: 15;
  animation-play-state: paused;
  transition: --bg-size var(--interaction-speed) ease;
}

.glow-card:hover .glow {
  --glow-blur: 1.5;
  --glow-opacity: 0.6;
  --glow-scale: 2.5;
  --glow-radius: 0;
  --rotate: 900;
  --glow-rotate-unit: 0;
  --scale-factor: 1.25;
  animation-play-state: paused;
}

.glow-card:hover .glow:after {
  --glow-translate-y: 0;
  animation-play-state: paused;
  transition: --glow-translate-y 0s ease, --glow-blur 0.05s ease,
    --glow-opacity 0.05s ease, --glow-scale 0.05s ease,
    --glow-radius 0.05s ease;
}

.glow-content {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--card-color);
  border-radius: calc(var(--card-radius) * 0.9);
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}

.glow-content:before {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% + var(--border-width));
  height: calc(100% + var(--border-width));
  left: calc(var(--border-width) / -2);
  top: calc(var(--border-width) / -2);
  border-radius: calc(var(--card-radius) * 0.9);
  box-shadow: 0 0 20px black;
  mix-blend-mode: color-burn;
  z-index: -1;
  background: hsl(0deg 0% 16%)
    radial-gradient(
      30% 30% at calc(var(--bg-x) * 1%) calc(var(--bg-y) * 1%),
      hsl(calc(calc(var(--hue) * var(--hue-speed)) * 1deg) 100% 90%)
        calc(0% * var(--bg-size)),
      hsl(calc(calc(var(--hue) * var(--hue-speed)) * 1deg) 100% 80%)
        calc(20% * var(--bg-size)),
      hsl(calc(calc(var(--hue) * var(--hue-speed)) * 1deg) 100% 60%)
        calc(40% * var(--bg-size)),
      transparent 100%
    );
  animation: hue-animation var(--animation-speed) linear infinite,
    rotate-bg var(--animation-speed) linear infinite;
  transition: --bg-size var(--interaction-speed) ease;
}

.glow {
  --glow-translate-y: 0;
  display: block;
  position: absolute;
  width: calc(100% / 5);
  height: calc(100% / 5);
  animation: rotate var(--animation-speed) linear infinite;
  transform: rotateZ(calc(var(--rotate) * var(--glow-rotate-unit)));
  transform-origin: center;
  border-radius: calc(var(--glow-radius) * 1px);
}

.glow:after {
  content: "";
  display: block;
  z-index: -2;
  filter: blur(calc(var(--glow-blur) * 10px));
  width: 130%;
  height: 130%;
  left: -15%;
  top: -15%;
  background: hsl(calc(calc(var(--hue) * var(--hue-speed)) * 1deg) 100% 60%);
  position: relative;
  border-radius: calc(var(--glow-radius) * 1px);
  animation: hue-animation var(--animation-speed) linear infinite;
  transform: scaleY(calc(var(--glow-scale) * var(--scale-factor) / 1.1))
    scaleX(calc(var(--glow-scale) * var(--scale-factor) * 1.2))
    translateY(calc(var(--glow-translate-y) * 1%));
  opacity: var(--glow-opacity);
}

@keyframes shadow-pulse {
  0%, 24%, 46%, 73%, 96% {
    --white-shadow: 0.5;
  }
  12%, 28%, 41%, 63%, 75%, 82%, 98% {
    --white-shadow: 2.5;
  }
  6%, 32%, 57% {
    --white-shadow: 1.3;
  }
  18%, 52%, 88% {
    --white-shadow: 3.5;
  }
}

@keyframes rotate-bg {
  0% {
    --bg-x: 0;
    --bg-y: 0;
  }
  25% {
    --bg-x: 100;
    --bg-y: 0;
  }
  50% {
    --bg-x: 100;
    --bg-y: 100;
  }
  75% {
    --bg-x: 0;
    --bg-y: 100;
  }
  100% {
    --bg-x: 0;
    --bg-y: 0;
  }
}

@keyframes rotate {
  from {
    --rotate: -70;
    --glow-translate-y: -65;
  }
  25% {
    --glow-translate-y: -65;
  }
  50% {
    --glow-translate-y: -65;
  }
  60%, 75% {
    --glow-translate-y: -65;
  }
  85% {
    --glow-translate-y: -65;
  }
  to {
    --rotate: calc(360 - 70);
    --glow-translate-y: -65;
  }
}

@keyframes hue-animation {
  0% {
    --hue: 0;
  }
  100% {
    --hue: 360;
  }
}



.project-glow-card {
  --card-color: hsl(260deg 100% 3%);
  --text-color: hsl(260deg 10% 55%);
  --card-radius: 16px;
  --border-width: 3px;
  --bg-size: 1;
  --hue: 0;
  --hue-speed: 1;
  --rotate: 0;
  --animation-speed: 4s;
  --interaction-speed: 0.55s;
  --glow-scale: 1.5;
  --scale-factor: 1;
  --glow-blur: 6;
  --glow-opacity: 1;
  --glow-radius: 100;
  --glow-rotate-unit: 1deg;

  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  border-radius: var(--card-radius);
  cursor: pointer;
}

.project-glow-card:before,
.project-glow-card:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: var(--card-radius);
}

.project-glow-card:hover .project-glow-content {
  mix-blend-mode: darken;
  --text-color: white;
  box-shadow: 0 0 calc(var(--white-shadow) * 1vw) calc(var(--white-shadow) * 0.15vw) rgb(255 255 255 / 20%);
  animation: shadow-pulse calc(var(--animation-speed) * 2) linear infinite;
}

.project-glow-card:hover .project-glow-content:before {
  --bg-size: 15;
  animation-play-state: paused;
  transition: --bg-size var(--interaction-speed) ease;
}

.project-glow-card:hover .glow {
  --glow-blur: 1.5;
  --glow-opacity: 0.6;
  --glow-scale: 2.5;
  --glow-radius: 0;
  --rotate: 900;
  --glow-rotate-unit: 0;
  --scale-factor: 1.25;
  animation-play-state: paused;
}

.project-glow-card:hover .glow:after {
  --glow-translate-y: 0;
  animation-play-state: paused;
  transition: --glow-translate-y 0s ease, --glow-blur 0.05s ease,
    --glow-opacity 0.05s ease, --glow-scale 0.05s ease,
    --glow-radius 0.05s ease;
}

.project-glow-content {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--card-color);
  border-radius: calc(var(--card-radius) * 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
}

.project-glow-content:before {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% + var(--border-width));
  height: calc(100% + var(--border-width));
  left: calc(var(--border-width) / -2);
  top: calc(var(--border-width) / -2);
  border-radius: calc(var(--card-radius) * 0.9);
  box-shadow: 0 0 20px black;
  mix-blend-mode: color-burn;
  z-index: -1;
  background: hsl(0deg 0% 16%)
    radial-gradient(
      30% 30% at calc(var(--bg-x) * 1%) calc(var(--bg-y) * 1%),
      hsl(calc(calc(var(--hue) * var(--hue-speed)) * 1deg) 100% 90%)
        calc(0% * var(--bg-size)),
      hsl(calc(calc(var(--hue) * var(--hue-speed)) * 1deg) 100% 80%)
        calc(20% * var(--bg-size)),
      hsl(calc(calc(var(--hue) * var(--hue-speed)) * 1deg) 100% 60%)
        calc(40% * var(--bg-size)),
      transparent 100%
    );
  animation: hue-animation var(--animation-speed) linear infinite,
    rotate-bg var(--animation-speed) linear infinite;
  transition: --bg-size var(--interaction-speed) ease;
}

.glow {
  --glow-translate-y: 0;
  display: block;
  position: absolute;
  width: calc(100% / 5);
  height: calc(100% / 5);
  animation: rotate var(--animation-speed) linear infinite;
  transform: rotateZ(calc(var(--rotate) * var(--glow-rotate-unit)));
  transform-origin: center;
  border-radius: calc(var(--glow-radius) * 10px);
}

.glow:after {
  content: "";
  display: block;
  z-index: -2;
  filter: blur(calc(var(--glow-blur) * 10px));
  width: 130%;
  height: 130%;
  left: -15%;
  top: -15%;
  background: hsl(calc(calc(var(--hue) * var(--hue-speed)) * 1deg) 100% 60%);
  position: relative;
  border-radius: calc(var(--glow-radius) * 10px);
  animation: hue-animation var(--animation-speed) linear infinite;
  transform: scaleY(calc(var(--glow-scale) * var(--scale-factor) / 1.1))
    scaleX(calc(var(--glow-scale) * var(--scale-factor) * 1.2))
    translateY(calc(var(--glow-translate-y) * 1%));
  opacity: var(--glow-opacity);
}

.project-glow-card {
  --card-color: hsl(220deg 20% 10%);
  --text-color: hsl(220deg 10% 55%);
  --card-radius: 16px;
  --border-width: 2px;
  --bg-size: 1;
  --hue: 0;
  --hue-speed: 1;
  --rotate: 0;
  --animation-speed: 4s;
  --interaction-speed: 0.55s;
  --glow-scale: 1.2;
  --scale-factor: 1;
  --glow-blur: 4;
  --glow-opacity: 0.3;
  --glow-radius: 100;
  --glow-rotate-unit: 1deg;

  position: relative;
  cursor: pointer;
  border-radius: var(--card-radius);
  overflow: hidden;
}

.project-glow-card:hover .project-glow-content {
  mix-blend-mode: darken;
  --text-color: white;
  box-shadow: 0 0 calc(var(--white-shadow) * 1vw) calc(var(--white-shadow) * 0.15vw) rgb(255 255 255 / 20%);
  animation: shadow-pulse calc(var(--animation-speed) * 2) linear infinite;
}

.project-glow-card:hover .project-glow-content:before {
  --bg-size: 15;
  animation-play-state: paused;
  transition: --bg-size var(--interaction-speed) ease;
}

.project-glow-card:hover .glow {
  --glow-blur: 1.5;
  --glow-opacity: 0.8;
  --glow-scale: 2.5;
  --glow-radius: 0;
  --rotate: 900;
  --glow-rotate-unit: 0;
  --scale-factor: 1.25;
  animation-play-state: paused;
}

.project-glow-card:hover .glow:after {
  --glow-translate-y: 0;
  animation-play-state: paused;
  transition: --glow-translate-y 0s ease, --glow-blur 0.05s ease,
    --glow-opacity 0.05s ease, --glow-scale 0.05s ease,
    --glow-radius 0.05s ease;
}

.project-glow-content {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--card-color);
  border-radius: var(--card-radius);
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  transition: all var(--interaction-speed) ease;
}

.project-glow-content:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: var(--card-radius);
  box-shadow: 0 0 20px black;
  mix-blend-mode: color-burn;
  z-index: -1;
  background: hsl(220deg 20% 16%)
    radial-gradient(
      30% 30% at calc(var(--bg-x) * 1%) calc(var(--bg-y) * 1%),
      hsl(calc(calc(var(--hue) * var(--hue-speed)) * 1deg) 100% 90%)
        calc(0% * var(--bg-size)),
      hsl(calc(calc(var(--hue) * var(--hue-speed)) * 1deg) 100% 80%)
        calc(20% * var(--bg-size)),
      hsl(calc(calc(var(--hue) * var(--hue-speed)) * 1deg) 100% 60%)
        calc(40% * var(--bg-size)),
      transparent 100%
    );
  width: calc(100% + var(--border-width));
  height: calc(100% + var(--border-width));
  left: calc(var(--border-width) / -2);
  top: calc(var(--border-width) / -2);
  animation: hue-animation var(--animation-speed) linear infinite,
    rotate-bg var(--animation-speed) linear infinite;
  transition: --bg-size var(--interaction-speed) ease;
}

.glow {
  --glow-translate-y: 0;
  display: block;
  position: absolute;
  width: 60px;
  height: 60px;
  animation: rotate var(--animation-speed) linear infinite;
  transform: rotateZ(calc(var(--rotate) * var(--glow-rotate-unit)));
  transform-origin: center;
  border-radius: calc(var(--glow-radius) * 1px);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 1;
}

.glow:after {
  content: "";
  display: block;
  z-index: -1;
  filter: blur(calc(var(--glow-blur) * 8px));
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  background: hsl(calc(calc(var(--hue) * var(--hue-speed)) * 1deg) 100% 65%);
  position: relative;
  border-radius: calc(var(--glow-radius) * 1px);
  animation: hue-animation var(--animation-speed) linear infinite;
  transform: scaleY(calc(var(--glow-scale) * var(--scale-factor) / 1.1))
    scaleX(calc(var(--glow-scale) * var(--scale-factor) * 1.2))
    translateY(calc(var(--glow-translate-y) * 1%));
  opacity: var(--glow-opacity);
}

@keyframes shadow-pulse {
  0%, 24%, 46%, 73%, 96% {
    --white-shadow: 0.5;
  }
  12%, 28%, 41%, 63%, 75%, 82%, 98% {
    --white-shadow: 2.5;
  }
  6%, 32%, 57% {
    --white-shadow: 1.3;
  }
  18%, 52%, 88% {
    --white-shadow: 3.5;
  }
}

@keyframes rotate-bg {
  0% {
    --bg-x: 0;
    --bg-y: 0;
  }
  25% {
    --bg-x: 100;
    --bg-y: 0;
  }
  50% {
    --bg-x: 100;
    --bg-y: 100;
  }
  75% {
    --bg-x: 0;
    --bg-y: 100;
  }
  100% {
    --bg-x: 0;
    --bg-y: 0;
  }
}

@keyframes rotate {
  from {
    --rotate: -70;
    --glow-translate-y: -65;
  }
  25% {
    --glow-translate-y: -65;
  }
  50% {
    --glow-translate-y: -65;
  }
  60%, 75% {
    --glow-translate-y: -65;
  }
  85% {
    --glow-translate-y: -65;
  }
  to {
    --rotate: calc(360 - 70);
    --glow-translate-y: -65;
  }
}

@keyframes hue-animation {
  0% {
    --hue: 0;
  }
  100% {
    --hue: 360;
  }
}

.profile-card h2 {
  opacity: 0;
  transition: opacity 1s ease;
}

.profile-card:hover h2 {
  opacity: 1;
}

.profile-card .icons i {
  opacity: 0 !important;
  transition: opacity 1s ease;
}

.profile-card:hover .icons i {
  opacity: 1 !important;
}

.border-overlay {
  border: none;
  transition: border 1s ease;
}

.profile-card:hover .border-overlay {
  border: 1px solid white;
}

.c-scrollbar_thumb {
  @apply !bg-white;
}

[data-scroll-container] {
  perspective: 999999px !important;
}

input {
  @apply bg-dark border border-gray-500 rounded outline-none px-3 py-2 focus:border-gray-700 focus:shadow-[0_0_0_4px_#027DFF80] transition duration-300;
}

.animated-gradient-text {
  position: relative;
  margin: 0 auto;
  display: flex;
  max-width: fit-content;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 1.25rem;
  font-weight: 500;
  background: transparent !important;
  transition: box-shadow 0.5s ease-out;
  overflow: visible;
  cursor: pointer;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: 300% 100%;
  animation: gradient linear infinite;
  border-radius: inherit;
  z-index: 0;
  pointer-events: none;
}

.gradient-overlay::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  border-radius: inherit;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  z-index: -1;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.text-content {
  display: inline-block;
  position: relative;
  z-index: 2;
  background-size: 300% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradient linear infinite;
  font-weight: bold;
}

/* Project Card styles (imported from user's design) */
 





